extends /deck

block slides
    section
        h1 Programmering
    section
        h2 Algoritm 
        div
          p En upsättning instruktioner för att lösa en viss uppgift 
        div.fragment
          h4 Till exempel...
          div.fragment
              p Hur sätter man på Barnkanalen på TV:en?
              img(src="/programmering-1/barnkanalen.png", style="height: 150px")
    section
        section
            h4 Övning: Återskapa mönstret
            div
              img(src="/programmering-1/graph_paper_1_q.png", style="height: 200px;")
            div
              h5 Instruktioner som kan användas
              table
                  tr
                      td
                          img(src="/programmering-1/graph_black.png", style="height: 150 px")
                          p(style="font-size: 80%") Måla rutan svart
                      td
                          img(src="/programmering-1/graph_right.png", style="height: 150 px")
                          p(style="font-size: 80%") Flytta en ruta åt höger
                      td
                          img(src="/programmering-1/graph_left.png", style="height: 150 px")
                          p(style="font-size: 80%") Flytta en ruta åt vänster
                      td
                          img(src="/programmering-1/graph_up.png", style="height: 150 px")
                          p(style="font-size: 80%") Flytta en ruta uppåt 
                      td
                          img(src="/programmering-1/graph_down.png", style="height: 150 px")
                          p(style="font-size: 80%") Flytta en ruta neråt
        section
            h4 Lösningen
            div
              img(src="/programmering-1/graph_paper_1_q.png", style="height: 200px;")
            div
               img(src="/programmering-1/graph_paper_1_a2.png")
    section
        h2 Övningar
        div
            a(href="http://studio.code.org/s/course2", target="_blank") studio.code.org
     section
        h1 Tack!
