extends /deck

block slides
    section
        h1 Programmering 2
    section(data-background="/programmering-2/r0b_pixelated.png", data-background-size="contain")
        h2.guarded Pixlar
        .fragment.guarded
            p Varje liten punkt som lyser i skärmen är en pixel.
            p Pixlar skapar bilder.
    section
        h2 Högersvängar 
        div
           img(src="/programmering-2/angles_right.png")
        div
           p grader
    section
        h2 Vänstersvängar 
        div
           img(src="/programmering-2/angles_left.png")
        div
           p grader
     section
        h1 Tack!
