extends layout

block content
  .container
    if message && message != ""
      div.alert.alert-danger(role='alert')
        strong Fel!
        |  #{message}
    // Main component for a primary marketing message or call to action
    .jumbotron
      h1 V채lkommen till Lilla Robotklubben!
      p H채r l채r vi oss om programmering, elektronkik och mekanik s책 att vi kan bygga robotar.
      unless user
        p
          a.btn.btn-lg.btn-primary(href='login', role='button') Logga in &raquo;

  // /container


