extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Anmälningsformulär
					div.signup-wall
						form(class='form-signin', action='/signup', method='POST')
							input(type='text', name='username', class='form-control', placeholder='Användarnamn',required, autofocus)
							input(type='password', name='password', class='form-control nomargin', placeholder='Lösenord', required)
							input(type='email', name='email', class='form-control', placeholder='Email',required)
							input(type='text', name='firstName', class='form-control', placeholder='Namn',required)
							input(type='text', name='lastName', class='form-control', placeholder='Efternamn',required)
							button(class='btn btn-lg btn-primary btn-block', type='submit') Anmäl
							span.clearfix
					#message
						if message != ""
							div.alert.alert-danger(role='alert')
								strong Fel!
								|  #{message}
