extends /deck

block slides
    section
        h1(style="text-transform: none") littleBits
    section
        h2 El liknar vatten
        img(src="/littlebits-1/water.png")
    section(data-background="/littlebits-1/basic_circuit.jpg", data-background-size="contain")
        h2.guarded.fragment
            span.dark-blue Blå
        p.guarded.fragment
            span.dark-blue ...matar el
        p.guarded.fragment
            span.dark-blue ...kommer först
    section(data-background="/littlebits-1/basic_circuit.jpg", data-background-size="contain")
        h2.guarded.fragment
            span.light-green Grön
        p.guarded.fragment
            span.light-green ...agerar
        p.guarded.fragment
            span.light-green ...kommer sist 
    section(data-background="/littlebits-1/basic_circuit.jpg", data-background-size="contain")
        h2.guarded.fragment
            span.pink Rosa
        p.guarded.fragment
            span.pink ...känner och reglerar
        p.guarded.fragment
            span.pink ...kommer mellan
            span.dark-blue  blå
            span.pink  och
            span.light-green  grön
    section(data-background="/littlebits-1/wire.jpg", data-background-size="contain")
        h2.guarded.fragment
            span.orange Orange
        p.guarded.fragment
            span.orange ...sladdar och logik
        p.guarded.fragment
            span.orange ...kommer mellan
            span.dark-blue  blå 
            span.orange  eller
            span.pink  rosa
            span.orange  och
            span.light-green  grön
     section
        h2 Exempel
        img(src="/littlebits-1/basic_circuit.jpg")
     section
        h1 Tack!
