extends /deck

block slides
    section
        h1(style="text-transform: none") littleBits
    section
        h2 El liknar vatten
        img(src="/littlebits-1/water.png")
    section(data-background="/littlebits-1/basic_circuit.jpg", data-background-size="50%")
        section 
            h2.guarded
                span.dark-blue Blå ger el 
            div(style="height: 600px")
        section 
            h2.guarded
                span.light-green Grön rör sig, lyser och låter
            div(style="height: 600px")
        section 
            h2.guarded
                span.pink Rosa känner och kontrollerar
            div(style="height: 600px")
    section(data-background="/littlebits-1/wire.jpg", data-background-size="50%")
        h2.guarded
            span.orange Orange kopplar och inför logik
        div(style="height: 600px")
      section(data-background="/littlebits-1/basic_circuit.jpg", data-background-size="50%")
        section 
            h2.guarded
                span.dark-blue Blå kommer först
            div(style="height: 600px")
        section 
            h2.guarded
                span.light-green Grön kommer sist 
            div(style="height: 600px")
        section 
            h2.guarded
                span.pink Rosa
                span  och
                span.orange  orange
                span  kommer mellan
                span.dark-blue  blå 
                span  och
                span.light-green  grön 
            div(style="height: 600px")
     section
        h1 Tack!
