extends /deck

block slides
    section
        h1 Programmering 3
    section
        h2 Slingor / Loopar (Loops) 
        div
           img(src="/programmering-3/loop.png")
        div
           p Repetition
    section
        h2 Exempel
        div
           img(src="/programmering-3/square.png")
        div
           p Vad gör detta?
    section
        h2 En annan sorts loop 
        div
           img(src="/programmering-3/for.png")
        div
           p "for loop"
    section
        h2 Exempel 
        div
           img(src="/programmering-3/spiral.png")
        div
           p Vad gör detta? 
     section
        h1 Tack!
