extends /deck

block slides
    section
        h1 Introduktion
    section(data-background="/intro/wall-e-robot.jpg", data-background-size="contain")
        h2.guarded Vad är en robot?
        .fragment.guarded
            p En
                span.red.bold  elektromekanisk
                |  maskin som kontrolleras av 
            p
                span.blue.bold  elektronik
                |  och 
                span.green.bold  dataprogram
    section(data-background="/intro/learn.jpg", data-background-size="contain")
        h2.guarded Vad ska vi lära oss?
    section(data-background="/intro/gears.png", data-background-size="contain")
        h2.guarded Mekanik
        .fragment.guarded
            p Rörelse och krafter i "vår" värld
    section(data-background="/intro/yun.png", data-background-size="contain")
        h2.guarded Elektronik
        .fragment.guarded
            p Elektroners rörelse
        p &nbsp;
        .fragment.guarded
            p En del av elektroteknik
            p elektroteknik = elektricitet + magnetism
    section(data-background="/intro/blockly.png", data-background-size="contain")
        h2.guarded Programmering
        .fragment.guarded
            p Att beskriva för en maskin hur den ska uttföra ett visst arbete
    section
        h2 Dagens agenda
        div
          p Skapa konto
          p Programmering: algoritmer
          p Bygga en enkel robot
        div
          img(src="/intro/can_robot_1.jpg", style="width: 200px;")
          img(src="/intro/can_robot_2.jpg", style="width: 200px;")
          img(src="/intro/bug.jpg", style="width: 200px;")
    section
        h2 Konto
        div
            a(href="http://robotklubben.herokuapp.com", target="_blank") robotklubben.herokuapp.com
        div
            a(href="http://studio.code.org/join/YNSTEP", target = "_blank") code.org
    section
        h2 Algoritm 
        div
          p En upsättning instruktioner för att lösa en viss uppgift 
        div
          img(src="/intro/graph_paper_1_q.png", style="height: 200px;")
        div
          img(src="/intro/graph_paper_1_a2.png")
        div
          p &nbsp;
    section
        h2 Övningar
        div
            a(href="http://studio.code.org/s/course2", target="_blank") studio.code.org
     section
        h1 Tack!
